
html, body, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: var(--font-roboto), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}
main {
  flex: 1;
}

footer {
  flex-shrink: 0;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ddd;
}
